* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body {
    font-family: whitney, helvetica, neue, arial, sans-serif;

}

.clearfix {
    content: '';
    display: table;
    clear: both;
}

.btn {
    border-radius: 30px;
    text-align: center;
    padding: 10px 20px;
}

.white {
    background-color: white;
    color: black;
}

.black {
    background-color: black;
    color: white;
}



/* /common */

/* header  */

header {
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 500px;
}

nav {
    width: 80%;
    height: 50px;
    margin: 0 auto;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    line-height: 50px;
    vertical-align: middle;
    list-style: none;
}

li img {
    vertical-align: middle;
}

li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

li:first-child {
    float: left;
}

li:last-child {
    float: right;
}

.header-bottom {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.header-bottom h1 {
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 40px;
}

.header-bottom p {
    margin-top: 50px;
    font-weight: bold;
}

.header-bottom .download {
    margin-top: 50px;
}

.download a {
    text-decoration: none;
    text-align: center;
}





/* /header */

/* main */

/* /main */

/* footer */

/* /footer */












